 /*QPushButton#hideFigure::hover,QPushButton#showFigure::hover{
        background:red;
 }
 QPushButton#hideFigure::pressed,QPushButton#showFigure::pressed{
        background:green;
        opacity:0.0;
 }
QPushButton#hideFigure{
        background: transparent;
}
QPushButton#showFigure{
        background: transparent;
}*/
QPushButton#btnCursor::hover,QPushButton#btnPen::hover,QPushButton#btnBrush::hover,
QPushButton#btnLine::hover,QPushButton#btnArrow::hover,QPushButton#btnEllipse::hover,
QPushButton#btnRect::hover,QPushButton#btnNumb::hover,QPushButton#btnSep::hover,
QPushButton#btnCitr::hover,QPushButton#btnText::hover{
         background:#25d8ff;
}
QPushButton#btnCursor::pressed,QPushButton#btnPen::pressed,QPushButton#btnBrush::pressed,
QPushButton#btnLine::pressed,QPushButton#btnArrow::pressed,QPushButton#btnEllipse::pressed,
QPushButton#btnRect::pressed,QPushButton#btnNumb::pressed,QPushButton#btnSep::pressed,
QPushButton#btnCitr::pressed,QPushButton#btnText::pressed{
         background: #e9e9e9;
}
QPushButton#btnCursor::checked,QPushButton#btnPen::checked,QPushButton#btnBrush::checked,
QPushButton#btnLine::checked,QPushButton#btnArrow::checked,QPushButton#btnEllipse::checked,
QPushButton#btnRect::checked,QPushButton#btnNumb::checked,QPushButton#btnSep::checked,
QPushButton#btnCitr::checked,QPushButton#btnText::checked{
         background: #e9e9e9;
}
QPushButton#btnCursor,QPushButton#btnPen,QPushButton#btnBrush,
QPushButton#btnLine,QPushButton#btnArrow,QPushButton#btnEllipse,
QPushButton#btnRect,QPushButton#btnNumb,QPushButton#btnSep,
QPushButton#btnCitr,QPushButton#btnText{
        background-color:#f5f5f5;
        border:0px;
}
/*QPushButton#btnEnter,QPushButton#btnMenu{
    background: transparent;
}*/

 /**************************************************************************kjk*/
 QWidget#how{
    border-image: url(:/res/pict/how.png)0 0 0 0 stretch stretch;
 }
 /*нижняя часть панели рисования фон*/
 QWidget#LeftBtns{
         background: #f5f5f5;
 }
 QWidget#RightBtns{
         border:  0.5px solid black;
         background: #00FA9A;
 }
 QWidget#RightBtns::hover{
         background: #3CB371;
 }
/*****Базовый класс всех окон************************************/
QPushButton#HeaderBtn{
    /*border:  1px solid black;
    background-color: #ff1493;*/
    border-image: url(:/res/pict/close.png)0 0 0 0 stretch stretch;
}
QPushButton#HeaderBtn::hover{
    border-image: url(:/res/pict/close_hover.png)0 0 0 0 stretch stretch;
}
QPushButton#HeaderBtn::pressed{
    border-image: url(:/res/pict/close_clk.png)0 0 0 0 stretch stretch;
}
QPushButton#HeaderText{
	border: 1 solid black; 	 
	border-radius: 3px;	
	width: 50px;
	height: 10px; 
}
QWidget#HeaderWidget{
    border: 2 solid #A9A9A9;
    background-color:#808080;
}
QWidget#settingsBtns{
    background: transparent;
}
QPushButton#settingsBtnCansel{

}
QPushButton#settingsBtnCansel::hover{
}
QWidget#BaseWind{
	background:qlineargradient(x1: 1, y1: 0, x2: 0, y2: 1,
  stop: 0 #e9e9e9,
  stop: 1 #f5f5f5);
}
QLabel{
    background-color: rgba(0, 0, 0, 0.0);
    color : black;
}
QGroupBox{
	background: white;
	border: 1px solid black;
        border-radius: 20px;
}
/*Окно главной панели выбора**********************************
QPushButton#enter0{
	border-image: url(pict/3.png)0 0 0 0 stretch stretch;
}
QPushButton#enter1{
	border-image: url(pict/4.png)0 0 0 0 stretch stretch;
}
QPushButton#enter2{
	border-image: url(pict/5.png)0 0 0 0 stretch stretch;
}
QPushButton#enter3{
	border-image: url(pict/6.png)0 0 0 0 stretch stretch;
}
QPushButton#enter4{
	border-image: url(pict/10.png)0 0 0 0 stretch stretch;
}
QPushButton#enter5{
	border-image: url(pict/11.png)0 0 0 0 stretch stretch;
}*/

QPushButton#enter0::hover ,
QPushButton#enter1::hover ,
QPushButton#enter2::hover, 
QPushButton#enter3::hover,
QPushButton#enter4::hover,
QPushButton#enter5::hover{
	background:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 white, 
  stop: 0.5 #DCDCDC,
  stop: 1 white);
	opacity:99;

}
QPushButton#enter0::pressed ,
QPushButton#enter1::pressed ,
QPushButton#enter2::pressed, 
QPushButton#enter3::pressed,
QPushButton#enter4::pressed,
QPushButton#enter5::pressed{
	border: 10px solid white;
}
QPushButton#qwit0::pressed {
	background:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #E0FFFF, 
  stop: 1 #000000);

	opacity:99;

}
QGroupBox#grBoxUp, QGroupBox#grBoxAv {
	background:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 white, 
  stop: 1 #DCDCDC);
	   border: 0.3 solid black; 	 
     height: 10px ;
	 border-radius: 15px;
}
/*Окно настроек*/
QTabBar::tab{
background:qlineargradient(x1: 1, y1: 0, x2: 0, y2: 1,
stop: 0 #e9e9e9,
stop: 1 #f5f5f5);
    /*min-width: 208px;*/
    min-height: 40px;
    font-family: Times New Roman;
    font-size: 20px;
    font-weight:600;
    color:black;
}
QTabBar::tab:selected {
    border-bottom: 2px solid #000000;
}
